# Dependências e caches locais
.vercel
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos de backup e zip
*.zip
codigos/
